/*I'd like to put a transition in this so that it starts off with a black screen and the */

body {
    background-color: #555555;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -0.1em;
    margin-right: -0.1em;
}

h1,
h2,
h3 {
    font-family: 'Muli', sans-serif;
    color: #ee7525;
    text-transform: uppercase;
}

h2 {
    text-decoration: underline;
}

a {
    /*color: #ee7525;*/
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    margin-top: -0.5em;
}

.logo {
    width: 450px;
    padding: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    /*MARGIN ISSUE*/
    margin-top: -1em;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0px;
    justify-content: space-between;
}

nav li {
    background-color: #555555;
    padding: 0.7em;
    display: block;
    justify-content: center;
    border: 1px solid #ee7525;
    border-top: 0px;
    border-radius: 0px 0px 0.3em 0.3em;
    margin: 0em 1em;
}

nav a,
.services a {
    color: #FFFFFF;
}

nav li:hover {
    background-color: white;
    color: black;
}

main {
    width: 80%;
    margin: 0px auto;
}

.firstImage {
    width: 100%;
    background-size: cover;
    margin-top: -3em;
    z-index: -1;
    filter: brightness(50%);
}

.services ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}

.services li {
    border: 1px solid white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    text-align: center;
}

.services,
.services a {
    width: 50%;
}

.services li:hover {
    background-color: #ee7525;
}

.services {}

.types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type {
    width: 300px;
    height: 300px;
    justify-content: center;
}

.process ul {
    list-style: none;
}

.FAQ {
    padding: 0em 1em;
    border: 3px solid #ee7525;
    margin: 1em 0em;
    border-radius: 1em;
}

p {
    padding: 0em;
    text-align: justify;
}

footer {
    height: 1em;
    background-color: #ee7525;
}


/*Larger Screens*/

@media screen and (min-width: 950px) {
    nav ul,
    .services ul {
        flex-direction: row;
    }
}
