body {
    background-color: #555555;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    transition-timing-function: ease;
}

h1,
h2,
h3 {
    font-family: 'Muli', sans-serif;
    color: #ee7525;
    text-transform: uppercase;
}

h2 {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

header .social-links {
    z-index: 1;
    margin-top: 0.3em;
}

header .social-links * {
    padding: 0.15em;
    font-size: 4vw;
    color: #ee7525;
    z-index: 1;
}

header .social-links *:hover {
    color: #FFFFFF;
}

.logo {
    width: 20em;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    filter: brightness(400%);
}


/* Min width of the nav is 500px. Any smaller and we need it to flex-direction row */

nav {
    display: flex;
    flex-direction: row;
    margin-top: -5em;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0px;
    justify-content: space-between;
    z-index: 1;
    align-items: stretch;
}

nav li {
    background-color: rgba(33, 33, 33, 0.2);
    padding: 0.7em;
    display: block;
    justify-content: center;
    margin: 0em;
    min-width: 5em;
    height: 2.5em;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover,
nav a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

main {
    /*Help*/
}

.heroImage {
    width: 100%;
    background-size: cover;
    margin-top: -3em;
    filter: brightness(70%);
    max-height: 100vw;
    overflow: hidden;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.template {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    margin: 1em;
}

.template p {
    padding: 1em;
    position: relative;
    top: 40%;
    background-color: rgba(33, 33, 33, 0.2);
}

.text,
.FAQ {
    width: 80%;
    margin: 0px auto;
}

.FAQ {
    padding: 0em 1em;
    border: 3px solid #ee7525;
    margin-bottom: 1em;
    border-radius: 1em;
}

p {
    padding: 0em;
    text-align: justify;
}

footer {
    background-color: #ee7525;
}

footer p {
    padding: 1em;
    font-size: 0.7em;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 650px) {
    .logo {
        width: 30em;
    }
}


/*Larger Screens*/

@media screen and (min-width: 700px) {
    header .social-links * {
        font-size: 2vw;
    }
    .logo {
        position: absolute;
        width: 40em;
    }
    .heroImage {
        max-height: 50vw;
    }
}
